html {
    background-color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: lightgreen;
}

form {
    background-color: lightgreen;
}

#empty-container {
    background-color: lightgrey;
    border-style: solid;
}

#title-container {
    background-color: lightgrey;
}

.list-group-item {
    background-color: rgb(236, 255, 236);
}

.task {
    font-style: italic;
    font-size: 20px;
}

.due-date {
    font-weight: bold;
}

.due-date-late {
    font-weight: bold;
    color: red;
    font-style: italic;
}

#username-tab {
    float: right;
}