<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add a Task!</title>
</head>
<body>
    <div id="title-container"><h1>Add a Task!</h1></div>
    <form action="{{ url_for('postadd') }}" method="POST">
        <label for="task">Enter the task you want below!</label>
        <br>
        <input type="text" id="task" value="" name="task"> <br><br>
        <input type="submit">
    </form>
</body>
</html>