{% block header %}
{% from "bootstrap5/form.html" import render_form %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  {% if user.is_authenticated %}
    <a class="navbar-brand" href="{{ url_for('home') }}">Welcome {{ user.name }}</a>
  {% else %}
  <a class="navbar-brand" href="{{ url_for('home') }}">Project Manager</a>
  {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addproject') }}">Create Project</a>
        </li>
          {% if project_page %}
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addtask', id=project['project_id']) }}">Add Task</a>
            </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('file', id=project['project_id']) }}">Import File</a>
            </li>

          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>

      {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
            </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% endblock %}